p {
    margin-left: 45px;
    margin-right: 45px;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
}

h1 {
    text-align: center;
    font-family: "Times New Roman", sans-serif;
    font-weight: bold;
}

h4 {
    text-align: center;
    font-family: "Times New Roman", sans-serif;
    font-weight: bold;
}


.title {
    background: url("https://modernfarmer.com/wp-content/uploads/2021/09/shutterstock_1526389829-1200x800.jpg");
    min-height: 100vh; /* Use viewport height for minimum height */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.titletext {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #08360F;
    font-size: 30px;
    letter-spacing: 8px;
    text-transform: uppercase;
    background-color: #F1E8CE;
    padding: 20px;
    border-radius: 10px; 
}

#invasivemap {
    background-color: #E7DCD5;
    }
#eabmap {
    margin: 35px;
    

.ptext .border {
    background-color: #111;
    color: #fff;
    padding: 20px;
