    p { text-align: justify;
       font-family: perpetua;
      }
    h3 { background-color: LightGrey;
       }
    #SandyPoint {
      border: yellow dashed;
      padding: 5px;
      margin: 10px;
      height: 450px;
      width: 400px;
      background-color: lightblue;
      color: grey;
      float: right;
    }
    #sandypoint-img {
      width: 90%;
      height: 90%;
    }
 #PlumIsland {
      border: yellow dashed;
      padding: 5px;
      margin: 10px;
      height: 450px;
      width: 400px;
      background-color: lightblue;
      color: grey;
    }
    #plumisland-img {
      width: 90%;
      height: 90%;
    }
 #LixiandStevieRay {
      border: yellow dashed;
      padding: 5px;
      margin: 10px;
      height: 450px;
      width: 400px;
      background-color: lightblue;
      color: grey;
    }
    #lixiandstevieray-img {
      width: 90%;
      height: 90%;
    }
    th, td {
      background-color: #ddd3dd;
      padding: 5px;
    }
    .data {
      color: darkblue;
    }
